.section {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 10px;
}

.section > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#section-lore, #section-you, #section-moneysource,
#section-origin, #section-equipment, 
#section-titles, #section-fleet, #section-ship, #section-hull {
  display: none; /* Hidden by default */
}

#section-lore.visible, #section-you.visible, #section-moneysource.visible,
#section-origin.visible, #section-equipment.visible, 
#section-titles.visible, #section-fleet.visible, #section-ship.visible,
#section-hull.visible  {
  display: grid; /* Hidden by default */
}

.choice {
  justify-content: center;
  align-items: center;
}

.choice:hover{
  background-color: blue;
  transform: translateY(-2px);
  cursor: pointer;
}

.choice.active{
  background-color: blue;
}

h1, h2 {
  text-align: center;
}