.section {
  display: flex;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 10px;
  margin:auto;
  text-align:center;
  width: max-content;
}

.section > div {
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  background-color: rgba(20, 30, 60, 0.8); /* Dark blue with transparency */
  color: #ffffff; /* White font for readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Stronger text shadow for better contrast */
  overflow: hidden;
}

div {
  margin:auto;
}

#section-lore, #section-you, #section-moneysource,
#section-origin, #section-equipment, 
#section-titles, #section-fleet, #section-ship, #section-hull, 
#section-sponsor,
#origin-education, #origin-skills, #origin-mana, #origin-catalyst, #origin-spell, #origin-affinities {
  display: none; /* Hidden by default */
}

#section-lore.visible, #section-you.visible, #section-moneysource.visible,
#section-origin.visible, #section-equipment.visible, 
#section-titles.visible, #section-fleet.visible, #section-ship.visible,
#section-hull.visible, #section-sponsor.visible,
#origin-education.visible, #origin-skills.visible, #origin-mana.visible, #origin-catalyst.visible, #origin-spell.visible, #origin-affinities.visible  {
  display: flex; /* Hidden by default */
}

.choice {
  justify-content: center;
  align-items: center;
  width:140px;
}

.choice:hover{
  cursor: pointer;
  background-color: rgba(0, 100, 255, 0.7); /* A more vibrant blue with transparency for hover */
  transform: translateY(-2px);
}

.choice.active{
  background-color: rgba(0, 100, 255, 0.7); /* Consistent active color */
}

h1, h2, h3 {
  text-align: center;
  color: #ffffff; /* White color for headings */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1); /* Stronger shadow for headings */
}

.object-div{
  position:relative;
  /* Recommended Div and Font Colors */
  background-color: rgba(20, 30, 60, 0.8); /* Dark blue with transparency */
  color: #ffffff; /* White font for readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Stronger text shadow for better contrast */
}
.x-button{
  position:absolute;
  top:5px;
  right:5px;
}
.edit-button{
  position:absolute;
  top:30px;
  right:5px;
}

img {
  height: 200px;
}

body { /*make galaxy background image*/ 
  background-image: url(Images/timBartonSunsetNebulae.webp); /* Replace with your image path */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
